body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: 1;

    background-image: url(../img/16.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.overlay .oscurecer{
    background-color: rgba(0, 0, 0, 0.586);
}

.overlay-content {
    padding: 10%;

    justify-content: center;
    text-align: center;

    color: white;
    
    overflow-y: auto; /* Agregar desplazamiento vertical */
    max-height: 80%; /* Ajustar la altura máxima según sea necesario */

}
.overlay .overlay-content a, .overlay .overlay-content i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}  
.overlay-content img{
    height: 100%;
    width: 100%;
}
@media screen and (min-width:700px){
    .overlay-content img{
        height: 50%;
        width: 50%;
    }
    

}